\begin{titlepage}
 
\begin{flushleft}

\vspace*{-1.8in}\includegraphics[scale=1]{./figures/title_header}

\vspace*{2in}

\begin{tabular}{p{5cm}p{8cm}}
\Large{Bachelor Thesis} & \Large{2009} \\ 
\end{tabular}

\vspace{1.5cm}
\begin{tabular}{ll}
\Huge{\bfseries CAVE Rendering Framework}\\[0.4cm]
\huge{<<<TITLE>>>}\\[1.5cm]
\end{tabular}

\begin{tabular}{p{5cm}p{8cm}}
\Large{Abteilung} & \Large{CPVR}\\[0.2cm]
\Large{Autoren} & \Large{Brigitte Hulliger}\\[0.2cm]
& \Large{Jonas Walti}\\[0.2cm]
& \Large{Stefan Broder}\\[0.2cm]
\Large{Betreuer} & \Large{Prof. U. K\"unzler} \\[0.2cm]
& \Large{Michael Luggen }\\[0.2cm]
\end{tabular} 

 \end{flushleft}
\end{titlepage}
